.Verd1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal}
.Verd2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #000000}
.Verd2BLk {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #A5A6A5;
}
.Verd1BLk {  font-size: 9px; font-style: normal; font-weight: bold; color: #000000; text-decoration: underline}
.pons_lnk {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: #000000; font-variant: normal; text-decoration: underline}
.Verd_underline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	text-decoration: underline;
}
